{% extends "home/base_home.html" %}

{% load staticfiles %}

{% block title %} Encuesta Elecciones Regionales y Municipales Cusco{% endblock %}

{% block description %} Sitio web para encuestas de las elecciones regionales y municipales Perú 2018 {% endblock description %}

{% block tags %}Elecciones 2018, Cusco, Resultados Encuesta elecciones 2018{% endblock tags %}

{% block content %}
  {% include "includes/header.html" %}
  <div class="grid-container contenedor">
    <div class="grid-x grid-margin-x">
      <h1 class="cell ms-h-h2 color-ct-c19" style="margin-bottom: 1em;">¿De qué departamento eres?</h1>
      {% for d in depatamentos %}
        <div class="cell small-6 medium-4 large-3">
          <a href="{% url 'home_app:provincia_list' d.pk %}" class="ms-bt7-1 color-ct-c15">{{d.name}}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include "includes/footer.html" %}
{% endblock content %}
