<header>
  <div class="ms-header1 color-bg-b1">
    <div class="ms-header1__left">
      <a href="/" class="ms-header1__logo2 color-ct-white">
        <i class="fas fa-chart-bar"></i>
        <span class="ms-header1__logo__a">Elecciones Municipales 2018</span>
      </a>
    </div>
    <div class="ms-header1__right">
      <a href="{% url 'home_app:departamento_r_list' %}" class="ms-header1__link2 color-ct-white">
        <span>Resultados De Encuesta</span>
      </a>
      <a href="{% url 'home_app:contacto' %}" class="ms-header1__link2 color-ct-white">
        <span>Contacto</span>
      </a>
    </div>
  </div>

  <div class="ms-header3">
    <div class="ms-header3__head color-bg-b15">
      <a href="/" class="ms-header3__head__item color-ct-white">
        Elecciones Municipales 2018
      </a>
      <a href="{% url 'home_app:departamento_r_list' %}" class="ms-header3__head__item color-ct-white">
        <span>Resultados</span>
      </a>
    </div>
  </div>
</header>
